* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.element-body {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.navbar-signedin {
  display: flex;
  gap: 1rem;
}

.navbar-container {
  background-color: rgb(202, 230, 255);
  width: 100vw;
  height: fit-content;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right div {
  margin-left: 1rem;
}

form {
  width: 30vw;
  background-color: aqua;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
