* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.element-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 1000px;
  margin: auto;
}

.navbar-signedin {
  display: flex;
  gap: 1rem;
}

.navbar-container {
  background-color: rgb(255, 67, 67);
  width: 100vw;
  height: fit-content;
}

.link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 2.5rem;
}

.navbtn {
  background-color: rgb(196, 37, 37);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right div {
  margin-left: 1rem;
}

form {
  width: 30vw;
  background-color: aqua;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
